
form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./pball.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    width: 50vw;
    height: 40vh;
    padding: 2rem;
    box-shadow: 15px 15px 25px black;
}
input {
    opacity: 70%;
}

